section > * { /*자식 선택자 바로 자기 밑 자식만가능*/
    color : royalblue;
}

section {
    box-sizing : border-box;
}

#hello{  /* 아이디 선택자 */
    font-size : 20px;
}

.hi { /* 클래스 선택자 */
    font-size: 50px;
}
.안녕 { /* 클래스 명은 한글도 가능 */
    background-color: bisque;
}

[class="hi"]{ /* 특성 선택자 */
    background : royalblue;
}

[class^="btn"]{ /* class명이 btn이 붙은 모든걸 선택 */
    color : #fff;
    background : green;
}
section p { /*자손 선택자 (자식과 자손 모든 선택 가능)*/
    color : red;
}
h1 ~ p { /*형제 선택자*/
    text-decoration: underline;
}

h1 + p { /* 가장 인접한 형제 요소만 선택 */
    text-decoration: underline;
}