body {
    background-image:url(../images/bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.wrapper {
    text-align: center;
    margin: auto;
    width: 50%;
    height: 50%;
    padding: 50px 50px 200px 50px;
}

.grass {
    margin: -5px;
}
.box h1{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: top;
}
.fox {
    margin:0px;
}
.box {
    background-color: #93572E;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    width: 260px;
    height: 190px;
    text-align: left;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 8px 0px 0px #4A260B
  }

  