.login {
    width: 392px;
    margin: auto;
    background: skyblue;
}

.login label,
.login input,
.login button {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.login input {
    border-width: 0 0 1px 0;
    border-color: #667880;
    height: 48px;
    margin-bottom: 24px;
}

.login label {
    font-size: 14px;
    color: #29363d;
    margin-bottom: 8px;
}