@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

*{
    font-family: 'PT Sans Narrow', sans-serif;
}
body,h1,h2 {
    margin : 0px;
    padding : 0px;
}

/*body {
    min-width : fit-content; 강의 미니 브라우저용 코드 
}*/

h1 {
    font-size : 36px;
    font-weight: bold; /*폰트두께 두껍게*/
    font-style: italic; /*글씨 기울기*/
}

h2 {
    font-size : 20px;
    font-weight : lighter; /*폰트두께 완전 얇게*/
    color : #282828;
    border-bottom: 1px solid #2b2b2b;
    margin-bottom: 16px;
    padding-bottom: 5px;
}

.name-text {
    font-size: 17px;
    color: #7c7c7c;
    font-weight: bold; /*폰트의 두께 ((얇게 두껍게 일반))*/
}

.mainbox {
    width: 610px; /*폭*/
    padding: 30px;
    margin : 30px;
    margin-left : auto;
    margin-right : auto;
    border: 1px solid #ebebeb; /* 두께 테두리 색깔*/
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1); /* 박스의 그림자 넣는 코드*/
}

footer {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    font-size: 12px;
    color : #919191;
}

section {
    margin-bottom: 24px;
}

.namx-text {
    font-size : 16px;
    color : #7c7c7c;
    font-weight: bold;
}

.about-me-text {
    font-size : 10px;
    line-height : 16px /*줄간 간격*/
}

.title-text {
    font-size : 11px;
    font-weight: bold;
    color : #282828;
    float : left; /*둥둥 떠다닌다는 의미의 코드*/
}

.year-text {
    font-size : 11px;
    font-weight: bold;
    color : #282828;
    float : right;
}

.float-wrap {
    overflow: hidden; /*요소끼리 안 겹치게함*/
}

.desc-text {
    font-size : 9px;
}

.desc-subtext {
    font-size : 9px;
    color: #282828;
    padding-left: 16px;
}

.title-box {
    text-align : right;
}

.sns-img {
    width: 12px;
    height: 12px;
    
}

.sns-wrap {
    text-align: right;
}